


  .scene {
   width:100%;
   height: 550px;
    perspective: 30em;
  overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

 
  .recipecard {
    width:100%;
    height:100%;
    position:relative;
  
    transition: transform 2s;
    transform-style: preserve-3d;
    transition-delay: 0s;
  }
  
  .face {
    width:100%;
    height:100%;
    word-wrap: break-word;

  
 
 
    position:absolute;
    
    backface-visibility:hidden;
  }

  
  .back {
    /* color: white; */

    transform: rotateY(180deg);
    backface-visibility:hidden;
    overflow: hidden;
  } 
  
  /* .scene:hover .card {
    transform: rotateY(180deg);
  } */
 