


  .badge{
    top: 0.25%;
  left: 8%;

  }
  .scene {
   width:100%;
   height: 800px;
    perspective: 30em;
    overflow: hidden;
    box-sizing: border-box;
  }
  @media only screen and (min-width: 1210px ) {
    .scene{
    width:100%;
    height: 400px;
    }
  }
  @media only screen and ( max-width: 770px) {
    .scene{
    width:100%;
    height: 450px;
    }
  }
  
  .card {
    width:100%;
    height:100%;
    position:relative;
  
    transition: transform 4s;
    transform-style: preserve-3d;
    transition-delay: 1s;
  }
  
  .face {
    width:100%;
    height:100%;
    word-wrap: break-word;

    color:#FFF;
 
    text-align:center;
    position:absolute;
    
    backface-visibility:hidden;
  }

  
  .back {
    color: white;
  background-color: rgb(46, 40, 40);
    transform: rotateY(180deg);
  }
  
  .scene:hover .card {
    transform: rotateY(180deg);
  }