
@media(min-width:1100px) {
  .searchbarform{
    padding-left: 150px;
    padding-right: 350px;
  } 
}
@media(max-width:1100px) {
  .searchbarform{
    padding-left: 100px;
    padding-right: 100px;
  } 
}
@media(max-width:1000px) {
  .searchbarform{
    padding-left: 0px;
    padding-right: 0px;
  } 
  .search_input{
width: 100px;
  }
}


#Searchbar{
  
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    font-weight: bolder;
    font-size: xx-large;

    animation: drop .4s linear forwards 1s;
   
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}
.R{
  margin-left: 10px;
}
.nextui-c-PJLV-ilaJdKq-css {
  color: inherit;
  text-transform: none;
  padding-top: 12px;
  margin-right: var(--nextui-space-11);
}
.name{
    position: relative; 

}
.R,.e,.c,.i,.p,.e2,.R2,.i2,.o,.t{
font-size: 30px;
}
/* .navbar-brand{
  opacity:0;
  animation: drop .4s linear forwards 2s;
} */
.R{
 margin-left: 10px;
  opacity:0;
  animation: drop .4s linear forwards 3s;
 
}
.e{
    opacity:0;
  animation: drop .4s linear forwards 3.2s;
}
.c{
    opacity:0;
  animation: drop .4s linear forwards 3.6s;
}
.i{
    opacity:0;
  animation: drop .4s linear forwards 3.8s;
}
.p{
    opacity:0;
  animation: drop .4s linear forwards 4.0s;
}
.e2{
    opacity:0;
  animation: drop .4s linear forwards 4.2s;
}
.R2{
    opacity:0;
  animation: drop .4s linear forwards 4.4s;
}
.i2{
    opacity:0;
  animation: drop .4s linear forwards 4.6s;
}
.o{
    opacity:0;
  animation: drop .4s linear forwards 4.8s;
}
.t{
    opacity:0;
  animation: drop .4s linear forwards 5s;
}
.search_input{
  opacity:0;
  animation: drop .4s linear forwards 5.2s;
}
.search_search{
  opacity:0;
  animation: drop .4s linear forwards 5.4s; 
}


.nextui-c-fBJhTY {

  background: transparent;
 
}


.nextui-c-egxOLa {
 
  max-width:100%!important;
 
}
.logoofwebsite{
  padding-top: 20px;
  padding-left: 10px;

}
[class*="line-b"] {

  padding-bottom: 8px;
}
@media(max-width:650px){
  .logoofwebsite{
    padding-top: 20px;
    padding-left: 0px;
  
  
  }
}
