@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

.offcanvas{
    background-color: "	#89CFF0";
    padding: 0%;
  

}

.li{
   min-width: 100%;

   cursor: pointer;
 
color: gray;
font-family: Arial, Helvetica, sans-serif;

color: #666;

}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
.li{
  min-width: 250px;
}

}



.li::before {

  transform: scale(.9);
  z-index: -1;
}
.li:hover::before {
    transform: scale(1.5);

}
.li:hover {
  border-right: 5px solid white;
  border-left: 5px solid white;
  font-size: larger;
    width:100%;
    height:50px;
  
    text-align: center;
   

  text-shadow: 8px 8px 10px #171716;
}
.offcanvas-header{
    animation: move 5s,2;
}
@keyframes move {
    25% {
      transform: translatey(-5.8vmin);
      opacity: 1;
    }
    50% {
      transform: translatey(-11vmin);
    }
    75% {
      transform: translatey(-16.5vmin);
    }
  }
/* //properties applied to elements with the class home */

/* moving element animation */
/* .li{
    transition:
    width 5s,
  
    transform 5s;
   
}
.li:hover{
    transition: 5s,1;
  transform: translateX(50%);
  text-align: center;
 
 
} */
/* changing backgound color */

.offcanvas {
  
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    /* animation: gradient 15s ease infinite; */
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}
.li{
  font-family: cursive;
}
/* coloring of text */
.home{
  
  font-family: cursive;
  /* background: #016D9E; */
  font-size: larger;
  width:100%;
  height:50px;

  text-align: center;
  
  border-right: 4px solid white;
  border-left: 4px solid white;

text-shadow: 8px 8px 10px #171716;
}

/* //properties applied to elements with the class dashboard */
.dashboard{
  font-size: larger;
  width:100%;
  height:50px;

  text-align: center;
  border-right: 5px solid white;
  border-left: 5px solid white;

text-shadow: 8px 8px 10px #171716;
  background: #0BC3C3;
}

/* //properties applied to elements with the class order */
.order{
  font-size: larger;
  width:100%;
  height:50px;

  text-align: center;
  border-right: 5px solid white;
  border-left: 5px solid white;

text-shadow: 8px 8px 10px #171716;
  background: #06480de2;
}

/* //properties applied to elements with the class login */
.login{
  font-size: larger;
  width:100%;
  height:50px;

  text-align: center;
  border-right: 5px solid white;
  border-left: 5px solid white;

text-shadow: 8px 8px 10px #171716;
  background: #92360f;
 
}

.customers{
  font-size: larger;
  width:100%;
  height:50px;

  text-align: center;
  border-right: 5px solid white;
  border-left: 5px solid white;

text-shadow: 8px 8px 10px #171716;
  background: #650d33;
}


.category-heading{
background-color: #1B2631; 
}
