.blankRecipe{
opacity: 0;
}

  .drop-text{

    opacity:0;
    animation: drop .8s linear forwards;
 
  }
@keyframes drop {
	0% {transform: translateY(-200px) scaleY(0.9); opacity: 0;}
	5% {opacity: .7;}
	50% {transform: translateY(0px) scaleY(1); opacity: 1;}
	65% {transform: translateY(-17px) scaleY(.9); opacity: 1;}
	75% {transform: translateY(-22px) scaleY(.9); opacity: 1;}
	100% {transform: translateY(0px) scaleY(1); opacity: 1;}
  }


  /* body animation */
  /* body {
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
   
    animation: Gradient 15s ease ;
 
   min-height: 1000px;

    
  } */
  .samebody {
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
   
    animation: Gradient 15s ease ;
 


    
  }
  
  i:hover{
cursor: pointer;
  }
 
.imageBox{
  display: flex;
  align-items: center;
 
border: 2px solid #212335;
 
  /* background-image: url("https://getstamped.co.uk/wp-content/uploads/WebsiteAssets/Placeholder.jpg");
  background-size: cover; */
  height:300px;
  width:500px;
}
.fileToUpload{
  /* height:300px;
  width:500px; */

  /* opacity: 0; */
}
.badge_blank{
  top: 50%;
  left: 50%;

}
.AddRecipe{
 
  background-image: url("https://c4.wallpaperflare.com/wallpaper/778/966/360/olives-lettuce-greek-cooking-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1100px;
}
.carousel_image{
  height: 500px;
}
@media only screen and (max-width: 600px) {
  .carousel_image{
    height: 380px;
  }
 }
 
 
 /* @media only screen and (min-width: 900px) {
  .carousel_image{
padding-left: 200px;
padding-right: 200px;
  }
 } */
 .home_file{
  background-color: #98ad98;
 }





.cards-wrapper {
  display: flex;
  justify-content: center;
}
.carousel_card img {
  max-width: 100%;
  max-height: 100%;
 
}
.carousel_card {

  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;

      
  
 
}
.carousel-inner {
  padding: 1em;
} 
/* .carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
} */
@media (min-width: 768px) {
  .carousel_card img {
    height: 11em;
  }
  
}
@media (max-width: 768px) {
  .carousel_card img {
    height: 6em;
  }
}
@media (max-width: 450px) {
  .carousel_card img {
    height: 4em;
  }
}
 .carousel_card:hover .card-title{
  opacity: 1;
font-size: x-large;
font-family: cursive;

}
.carousel_card .card-title{
  opacity: 0;

}
.carousel_card:hover .carousel_card_image {
  cursor: pointer;
  opacity: 0.2;


  }
  .carousel_card:hover{
    transform: translateY(20px) ;
    transition-duration: 500ms;
 
    
  }
.latest_recipe_container{
margin:0px 120px;

}
@media (max-width: 1150px) {
  .latest_recipe_container{
    margin:0px 12px;
    }
}
 .scene:hover{
  transform: translate3d(8px,-8px,0);
  border-bottom: 8px solid #d0d30e;
  border-right: 8px solid #c6ee14;
 

}
.recipeitemimageopacity{
  opacity: 1;
  max-height: 300px;
}
@media (min-width: 767px) {
  .recipeitemimageopacity{
  
    max-height: 250px;
  }
}
.scene:hover .recipeitemimageopacity{
  opacity: 0.3;
}
.recipeitembadgeopacity{
  opacity: 0;
  background-color: #d0d30e;

}
.scene:hover .recipeitembadgeopacity{
  opacity: 1;
}
.card-img-overlay{
  bottom: 50%!important;
}
.card-up{
  background-color: rebeccapurple;
}
.searchlistbox{
  list-style: none;
  padding: 0px;

}
.searchmodal{
  background-color:#e1e4e7
}
.DocSearch-Hits{
  border: 2px solid rgb(54, 54, 185);
  padding: 15px;
color: black;
background-color: white;
border-radius: 10px;
margin-top: 2px;

}
.listcombo{
  margin:20px 0px;


}
.DocSearch-Hits:hover{
  background-color:rgb(54, 54, 185) ;
  color: white;
  transform: translate3d(2px,-2px,0);
  /* border-bottom: 6px solid rgb(54, 54, 185);
  border-left: 6px solid rgb(54, 54, 185);
  border-bottom-left-radius: 16px;
  border-top-left-radius:20px ;
  border-bottom-right-radius: 20px; */
}
.DocSearch-Hitslink{
  text-decoration: none;
}
#button-addon1y:hover{
color: black;

}
#button-addon1y{
  color: black;
  border-top: 3px solid rgb(54, 54, 185);
  border-right: 3px solid rgb(54, 54, 185);
  border-bottom: 3px solid rgb(54, 54, 185);
  }
  #button-addon1x{
  color:rgb(54, 54, 185) ;
  font-size: larger;
  border-top: 3px solid rgb(54, 54, 185);
  border-left: 3px solid rgb(54, 54, 185);
  border-bottom: 3px solid rgb(54, 54, 185);

    
    }
   .transformingup:hover{
    transform: translate3d(4px,-4px,0);
    /* border-bottom: 4px solid rgb(54, 54, 185);
    border-left: 4px solid rgb(54, 54, 185);
    border-bottom-left-radius: 16px;
    border-top-left-radius:20px ;
    border-bottom-right-radius: 20px; */
   }
   
   
   .profile-nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}

.profile-nav-borders .nav-link {
    color: #6c737e;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}
.profileform-control {
  display: block;
  width: 100%;
  padding: 0.875rem 1.125rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: #69707a;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c5ccd6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.card {
  box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.btn-danger-soft {
  color: #000;
  background-color: #f1e0e3;
  border-color: #f1e0e3;
}
.Profile_activity_latest_image{
height: 100px;
width:100px;
}
@media (max-width: 385px) {
  .Profile_activity_latest_image{
    height: 40px;
    width:40px;
    }
}

.box_decrease_size_animation {
  transform:
    perspective(750px)
    translate3d(0px, 0px, -10px)
  
    scale(0.9, 0.9);
  border-radius: 20px;
  border: 5px solid #e6e6e6;
  box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease-in-out transform;

 
}
.box_decrease_size_animation:hover {
  transform: translate3d(0px, 0px, -250px);
}
.box_decrease_size_animation_for_recipeitem {
  transform:
    perspective(750px)
    translate3d(0px, 0px, -10px)
  
    scale(0.9, 0.9);
  border-radius: 20px;


  transition: 0.4s ease-in-out transform;

 
}
.box_decrease_size_animation_for_recipeitem:hover {
  transform: translate3d(0px, 0px, -250px);
}


.align-center {
    text-align: center;
}
.hash-list {
    display: block;
    padding: 0;
    margin: 0 auto;
}

@media (min-width: 768px){
    .hash-list.cols-3 > li:nth-last-child(-n+3) {
        border-bottom: none;
    }
}
@media (min-width: 768px){
    .hash-list.cols-3 > li {
        width: 33.3333%;
    }
}
.hash-list > li {
    display: block;
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.pad-30, .pad-30-all > * {
    padding: 30px;
}

.mgb-20, .mgb-20-all > * {
    margin-bottom: 20px;
}
.wpx-100, .wpx-100-after:after {
    width: 100px;
}
.img-round, .img-rel-round {
    border-radius: 50%;
}
.padb-30, .padb-30-all > * {
    padding-bottom: 30px;
}

.mgb-40, .mgb-40-all > * {
    margin-bottom: 40px;
}
.align-center {
    text-align: center;
}
[class*="line-b"] {
    position: relative;
    padding-bottom: 20px;
    border-color: #E6AF2A;
}
.fg-text-d, .fg-hov-text-d:hover, .fg-active-text-d.active {
    color: #222;
}
.font-cond-b {
    font-weight: 700 !important;
}
.searchbardropdown{
  color: rgba(99, 95, 95, 0.096);
  text-decoration: none;
}
.box_decrease_size_animationemailsignup {
  transform:
  perspective(750px)
  translate3d(0px, 0px, -10px)

  scale(0.9, 0.9);
border-radius: 20px;


transition: 0.4s ease-in-out transform;

 
}
.box_decrease_size_animationemailsignup:hover {
	transform: translate3d(0px, 0px, -250px);
}
#profileimage{
display: none;
}
.profileimagelabel{
  color: #007bff;
  background-color: white;

  border:2px solid #007bff;
  padding: 6px 10px;

  border-radius: 10px;
}
.profileimagelabel:hover{
  background-color: #007bff;
  color: white;
}
#profile_avtar{
height: 150px;
width: 150px;
}
/* .nextui-c-bDGMeb-gLOJOp-cv {
  display: none!important;
} */


.nextui-c-bDGMeb-gLOJOp-cv {
  color: #b5460f!important;;
}
.nextui-c-iWjDFM-dvpxFC-cv:hover {
 border-bottom: 5px solid #f5a524;
 border-radius: 0px;
 
}
.navbarhome:hover{
  border-bottom: 5px solid #f5a524;
 border-radius: 0px;
color: black;

}
.navbarhome{
  padding-top: 16px;

 
}
@media only screen and (min-width: 1600px) {
  .homenewrecipe{
    max-width: 25%!important;
  }
  
}
@media only screen and (max-width: 1600px) and (min-width: 1400px) {
  .homenewrecipe{
    max-width: 330px!important;
  }
  
}
@media only screen and (max-width: 1400px) and (min-width: 1200px)  {
  .homenewrecipe{
    max-width: 285px!important;
  }
  
}
@media only screen and (max-width: 1200px) and (min-width: 800px)  {
  .homenewrecipe{
    max-width: 240px!important;
  }
  
}
@media only screen and (max-width: 800px) and (min-width: 600px)  {
  .homenewrecipe{
padding: 0px 100px;
  }
  
}

@media only screen and (max-width: 992px) and (min-width: 768px)  {
  .profilerecipe{
width: 348px!important;
  }
  
}


