#hero {
  width: 100%;
  height: 80vh;
  background: #37517e;
}

#hero .container {
  padding-top: 72px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  background: #47b2e4;
}

#hero .btn-get-started:hover {
  background: #209dd8;
}

#hero .btn-watch-video {
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  margin: 10px 0 0 25px;
  color: #fff;
  line-height: 1;
}

#hero .btn-watch-video i {
  line-height: 0;
  color: #fff;
  font-size: 32px;
  transition: 0.3s;
  margin-right: 8px;
}

#hero .btn-watch-video:hover i {
  color: #47b2e4;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }

  #hero .animated {
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }

  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}
.box_decrease_size_animationforservices{
  transform:
  perspective(750px)
  translate3d(0px, 0px, -10px)

  scale(0.9, 0.9);
  border: 5px solid #e6e6e6;
  border-radius: 20px;
box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
transition: 0.4s ease-in-out transform;
}
.box_decrease_size_animationforservices:hover{
  transform: translate3d(0px, 0px, -100px); 
}
  .featured-services{
    margin-top: 50px;
  }
  .featured-services .service-item {
    padding: 30px;
    transition: all ease-in-out 0.4s;
 
    height: 100%;
  }
  
  .featured-services .service-item .icon {
    margin-bottom: 10px;
  }
  
  .featured-services .service-item .icon i {
    color:#0d6efd;
    font-size: 36px;
    transition: 0.3s;
  }
  
  .featured-services .service-item h4 {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .featured-services .service-item h4 a {
    color: #6C757D;
    transition: ease-in-out 0.3s;
  }
  
  .featured-services .service-item p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .featured-services .service-item:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0 60px 0 rgba(#6C757D, 0.1);
  }
  
  .featured-services .service-item:hover h4 a {
    color:  #0d6efd;
  
  }
  a{
    text-decoration: none!important;
  }
  .services{
    margin: 150px 0px;
  }
  .services .img {
    border-radius: 8px;
    overflow: hidden;
  }
  
  .services .img img {
    transition: 0.6s;
  }
  
  .services .details {
    padding: 50px 30px;
    margin: -100px 30px 0 30px;
    transition: all ease-in-out 0.3s;
    background: white;
    position: relative;
    background: #ffffffe6;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 0 25px rgba(#0000 0.1);
  
  }
  
  .services .details .icon {
    margin: 0;
    width: 72px;
    height: 72px;
    background: #0d6efd;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    color: white;
    font-size: 28px;
    transition: ease-in-out 0.3s;
    position: absolute;
    top: -36px;
    left: calc(50% - 36px);
    border: 6px solid white;
  }
  
  .services .details h3 {
    
    font-weight: 700;
    margin: 10px 0 15px 0;
    font-size: 22px;
    transition: ease-in-out 0.3s;
    
  }
  
  .services .details p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
    
  }
  
  .services .service-item:hover .details h3 {
    color: #0d6efd;
    
  }
  
  .services .service-item:hover .details .icon {
    background: white;
    border: 2px solid #0d6efd;

   
  }
  
  .services .service-item:hover .details .icon i {
    color: #0d6efd;
   
  }
  
  .services .service-item:hover .img img {
    transform: scale(1.2);
 
  }
  .about{
    margin: 156px 0px;
  }
  .about .content h3 {
    font-weight: 600;
    font-size: 26px;
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    padding-bottom: 10px;
  }
  
  .about .content ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #cc1616;
  }
  
  .about .content p:last-child {
    margin-bottom: 0;
  }
  /* .fade-left:hover{
    transform:translate3d(100px,0,0) ;
    
    
  }
  .fade-right:hover{
    transform:translate3d(-100px,0,0);
   
  } */
  #pricing{
    margin-top: 80px;
  }


 
  .contact .info-wrap {
    padding: 30px;
    background: #fff;
    border-radius: 4px;
  }
  
  .contact .info i {
    font-size: 20px;
    color: #3498db;
    float: left;
    width: 44px;
    height: 44px;
    background: #eaf4fb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #384046;
  }
  
  .contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #65747f;
  }
  
  .contact .info:hover i {
    background: #3498db;
    color: #fff;
  }
  
  .contact .php-email-form {
    width: 100%;
    padding: 30px;
    background: #fff;
    border-radius: 4px;
  }
  
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
  }
  
  .contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br+br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input,
  .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact .php-email-form input {
    height: 44px;
  }
  
  .contact .php-email-form textarea {
    padding: 10px 12px;
  }
  
  .contact .php-email-form button[type=submit] {
    background: #3498db;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: #5faee3;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  .portfolio {
    padding: 60px 0;
  }
  
  .portfolio #portfolio-flters {
    padding: 0;
    margin: 0 0 35px 0;
    list-style: none;
    text-align: center;
  }
  
  .portfolio #portfolio-flters li {
    cursor: pointer;
    margin: 0 15px 15px 0;
    display: inline-block;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 20px;
    color: #444444;
    border-radius: 4px;
    text-transform: uppercase;
    background: #fff;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
  }
  
  .portfolio #portfolio-flters li:hover,
  .portfolio #portfolio-flters li.filter-active {
    background: #3498db;
    color: #fff;
  }
  
  .portfolio #portfolio-flters li:last-child {
    margin-right: 0;
  }
  
  .portfolio .portfolio-wrap {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
  }
  
  .portfolio .portfolio-wrap:hover {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
  }
  
  .portfolio .portfolio-item {
    position: relative;
    height: 360px;
    overflow: hidden;
  }
  
  .portfolio .portfolio-item figure {
    background: #000;
    overflow: hidden;
    height: 240px;
    position: relative;
    border-radius: 4px 4px 0 0;
    margin: 0;
  }
  
  .portfolio .portfolio-item figure:hover img {
    opacity: 0.4;
    transition: 0.4s;
  }
  
  .portfolio .portfolio-item figure .link-preview,
  .portfolio .portfolio-item figure .link-details {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    line-height: 0;
    text-align: center;
    width: 36px;
    height: 36px;
    background: #fff;
    border-radius: 50%;
    transition: all 0.2s linear;
    overflow: hidden;
    font-size: 20px;
  }
  
  .portfolio .portfolio-item figure .link-preview i,
  .portfolio .portfolio-item figure .link-details i {
    color: #384046;
    line-height: 0;
  }
  
  .portfolio .portfolio-item figure .link-preview:hover,
  .portfolio .portfolio-item figure .link-details:hover {
    background: #3498db;
  }
  
  .portfolio .portfolio-item figure .link-preview:hover i,
  .portfolio .portfolio-item figure .link-details:hover i {
    color: #fff;
  }
  
  .portfolio .portfolio-item figure .link-preview {
    left: calc(50% - 38px);
    top: calc(50% - 18px);
  }
  
  .portfolio .portfolio-item figure .link-details {
    right: calc(50% - 38px);
    top: calc(50% - 18px);
  }
  
  .portfolio .portfolio-item figure:hover .link-preview {
    opacity: 1;
    left: calc(50% - 44px);
  }
  
  .portfolio .portfolio-item figure:hover .link-details {
    opacity: 1;
    right: calc(50% - 44px);
  }
  
  .portfolio .portfolio-item .portfolio-info {
    background: #fff;
    text-align: center;
    padding: 30px;
    height: 90px;
    border-radius: 0 0 3px 3px;
  }
  
  .portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    line-height: 1px;
    font-weight: 700;
    margin-bottom: 18px;
    padding-bottom: 0;
  }
  
  .portfolio .portfolio-item .portfolio-info h4 a {
    color: #333;
  }
  
  .portfolio .portfolio-item .portfolio-info h4 a:hover {
    color: #3498db;
  }
  
  .portfolio .portfolio-item .portfolio-info p {
    padding: 0;
    margin: 0;
    color: #b8b8b8;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  /*--------------------------------------------------------------
  # Portfolio Details
  --------------------------------------------------------------*/
  .portfolio-details {
    padding-top: 0;
  }
  
  .portfolio-details .portfolio-details-slider img {
    width: 100%;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #3498db;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #3498db;
  }
  
  .portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(56, 64, 70, 0.08);
  }
  
  .portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  
  .portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }
  
  .portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
  }
  
  .portfolio-details .portfolio-description {
    padding-top: 30px;
  }
  
  .portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .portfolio-details .portfolio-description p {
    padding: 0;
  }
  .top-down-animation{
 
    
    opacity: 0;
    animation:topdown 5s linear forwards;
  }
  @keyframes topdown{
    0%{transform: translateY(50px); opacity: 0.3; }
    50%{transform: translateY(30px); opacity: 0.7; }
    100%{transform: translateY(0px); opacity: 1;}
  }
  /* increasing scale first */
  .increase-size-first{
 
    
    opacity: 0;
    animation:increase_size_first 1s linear forwards;
  }
  @keyframes increase_size_first{
    0%{scale: 0.1; opacity: 0.3; }
    50%{scale: 0.5; opacity: 0.7; }
    100%{scale: 1; opacity: 1;}
  }
  .increase-size-second{
 
    
    opacity: 0;
    animation:increase_size_first 1s linear forwards 1s;
  }
  @keyframes increase_size_first{
    0%{scale: 0.1; opacity: 0.3; }
    50%{scale: 0.5; opacity: 0.7; }
    100%{scale: 1; opacity: 1;}
  }
  .increase-size-third{
 
    
    opacity: 0;
    animation:increase_size_first 1s linear forwards 2s;
  }
  @keyframes increase_size_first{
    0%{scale: 0.1; opacity: 0.3; }
    50%{scale: 0.5; opacity: 0.7; }
    100%{scale: 1; opacity: 1;}
  }
  .increase-size-fourth{
 
    
    opacity: 0;
    animation:increase_size_first 1s linear forwards 3s;
  }
  @keyframes increase_size_first{
    0%{scale: 0.1; opacity: 0.3; }
    50%{scale: 0.5; opacity: 0.7; }
    100%{scale: 1; opacity: 1;}
  }